<div class="container mx-auto py-8">
  <div class="mb-4">
    <%= form_tag persons_path, method: :get, class: "mb-4" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Pesquisar por nome ou CPF", class: "border border-gray-300 px-4 py-2 rounded-md w-full lg:w-3/4" %>
      <%= submit_tag "Pesquisar", class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md" %>
    <% end %>
  </div>
  <div class="flex justify-between mb-4">
    <h2 class="text-2xl font-bold">Lista de Pessoas</h2>
    <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">Nova Pessoa</button>
  </div>
  <ul>
    <% @persons.each do |person| %>
      <li class="border border-gray-300 rounded-md mb-2 px-4 py-2">
        <p><strong>Nome:</strong> <%= person.name %></p>
        <p><strong>Estado Civil:</strong> <%= marital_status_translation[person.marital_status] %></p>
        <p><strong>Profissão:</strong> <%= person.ocupation %></p>
        <p><strong>RG:</strong> <%= person.rg %></p>
        <p><strong>CPF:</strong> <%= person.cpf %></p>
        <p><strong>CTPS:</strong> <%= person.ctps %></p>
        <p><strong>PIS/PASEP:</strong> <%= person.pis_init %></p>
        <p><strong>Endereço Completo:</strong> <%= person.full_address %></p>
        <p><strong>Telefone:</strong> <%= person.phone %></p>
        <p><strong>Email:</strong> <%= person.email %></p>
      </li>
    <% end %>
  </ul>
  <div class="apple_pagination">
    <%= will_paginate @persons %>
  </div>
  </div>
</div>
